h1 {
    color: red !important;
}

.products{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    justify-content: center;
    margin: 20px 0;
}
.products .card{
    margin: 10px auto;
}
.products .card-img-top{
    height: 250px;
    width: 100%;
}
.products .card-title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.products .card-text{
    height: 70px;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.loaderBtn {
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    100% { transform: rotate(360deg); }
}


/* --------- Detail Product ----------- */
.detail_page .img-thumbnail.active {
    border: 2px solid rgb(248, 135, 94) !important;
    padding: 2px !important;
}